

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}



.point {
  fill: #000;
  fill-opacity: 0.4;
}

.point--scanned {
  fill: orange;
  fill-opacity: 1;
  stroke: orange;
  stroke-width: 3px;
}

.point--selected {
  fill: red;
  fill-opacity: 1;
  stroke: red;
  stroke-width: 5px;
}

.node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}


