

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.v-line-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.v-line-values-text {
  text-shadow: #ffffff
}
.tooltip {
  position: absolute;
  z-index: 3;
  cursor:default;
  pointer-events: none;
  stroke-width: 15px;
  stroke:black;
  stroke-opacity:0;
}

.node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
