

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


.node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
