[Unit]
Description=Airflow web service
After=network.target mariadb.service
ConditionPathExists={{ python_home }}/bin/airflow

[Service]
Type=simple
User=airflow
WorkingDirectory={{ af_run }}
ExecStart={{ python_home }}/bin/airflow webserver --pid {{ af_run }}/webserver.pid --stdout {{ af_run }}/logs/webserver.log --stderr {{ af_run }}/logs/webserver.err
Restart=on-failure
PIDFile={{ af_run }}/webserver.pid
EnvironmentFile={{ af_home }}/environment
[Install]
WantedBy=multi-user.target
