.phrase-page {
  cursor:pointer;
  font-family:courier;
  font-weight:bold;
  color:#333366;
}
.phrase-text-before {
  cursor:pointer;
  background-color:#E0E0FF;
  border-radius: 3px;
  padding: 0px 3px 0px 3px;
}
.phrase-text-after {
  cursor:pointer;
  background-color:#E0E0FF;
  border-radius: 3px;
  padding: 0px 3px 0px 3px;
}
