[Unit]
Description=Name node service
After=network.target
ConditionPathExists={{ hdfs_namenode_dir }}/current

[Service]
Type=forking
User=hdfs
WorkingDirectory={{ hadoop_run }}
ExecStart={{ hadoop_home}}/bin/hdfs --config {{ hadoop_conf_dir }} --daemon start namenode 
ExecStop={{ hadoop_home}}/bin/hdfs --config {{ hadoop_conf_dir }} --daemon stop namenode
Restart=on-failure
PIDFile={{ hadoop_pid_dir }}/hadoop-hdfs-namenode.pid

[Install]
WantedBy=multi-user.target
