body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.filter {
  display:table;
  white-space:nowrap
}
.filter-tittle {
  display:table-cell;
  padding-left:20px;
  width:150px;
  vertical-align: middle;
}
div.in-filter {
  display:table-cell;
}

.node {
  cursor: pointer;
}

.node-option {
  fill:white;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}


.celldiv {
  margin: 2px; 
}

.rowdiv {
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
}

.rowdiv-wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap
}
.coldiv {
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
}

.phrase-bullet {
  background-image:url("bullet_triangle_grey.png");
  width:20px;
  background-size: 20px 20px;
  background-repeat:no-repeat;
}


.path-part-bullet {
  background-image:url("next.png");
  width:20px;
  background-size: 15px 15px;
  background-repeat:no-repeat;
  display:inline-block;
  background-position:center;
}
.path-part{
  display:inline;
}
