[Unit]
Description=Zeppelin service
After=network.target
ConditionPathExists={{ zeppelin_home }}/bin/zeppelin-daemon.sh

[Service]
Type=forking
User=spark
WorkingDirectory={{ zeppelin_run }}
ExecStart={{ zeppelin_home }}/bin/zeppelin-daemon.sh start
ExecStop={{ zeppelin_home }}/bin/zeppelin-daemon.sh stop
Restart=on-failure
PIDFile={{ zeppelin_run }}/PID/zeppelin-spark-{{ inventory_hostname.split('.')[0] }}.pid

[Install]
WantedBy=multi-user.target
