[Unit]
Description=Zeppelin service
After=network.target
ConditionPathExists={{ zeppelin_home }}/bin/zeppelin-daemon.sh

[Service]
Type=forking
User=root
WorkingDirectory={{ zeppelin_run }}
ExecStart={{ zeppelin_home }}/bin/zeppelin-start-demy.sh
ExecStop={{ zeppelin_home }}/bin/zeppelin-stop-demy.sh
Restart=on-failure
PIDFile={{ zeppelin_run }}/PID/zeppelin-spark-{{ inventory_hostname.split('.')[0] }}.pid
Environment="TMPDIR={{ tmp_dir }}"
[Install]
WantedBy=multi-user.target
