#jinja2:variable_start_string:'<@' , variable_end_string:'@>'
from airflow import DAG
from airflow.operators.bash_operator import BashOperator
from airflow.operators.dummy_operator import DummyOperator
from datetime import datetime, timedelta
from airflow.contrib.operators.ssh_operator import SSHOperator
import os

default_args = {
    'owner': 'airflow',
    'depends_on_past': False,
    'start_date': datetime(2019, 1, 1),
    'email': ['f.orchard@epiconcept.fr'],
    'email_on_failure': True,
    'email_on_retry': True,
    'retries': 1,
    'retry_delay': timedelta(minutes=1),
    # 'queue': 'bash_queue',
    # 'pool': 'backfill',
    # 'priority_weight': 10,
    # 'end_date': datetime(2016, 1, 1),
}

dag = DAG('demy-admin-log-cleaning', default_args=default_args, schedule_interval=timedelta(days=1))


    
# Step 0 - Entry point
t0 = DummyOperator(task_id='start',retries=3,dag=dag)

# Step 1 - Acessing all nodes in parallel
for term in os.environ['DEMY_NODES'][:-1].split(":"):
    c = """
      sudo <@ af_run @>/scripts/bash-admin-clean-logs.sh 
    """.format(**locals())
    t = SSHOperator(ssh_conn_id="ssh_"+term, task_id="delete_local_logs_"+term, command=c, dag=dag)
    t0 >> t 
