[Unit]
Description=Data node service
After=network.target
ConditionPathExists={{ hdfs_datanode_dir }}

[Service]
Type=forking
User=hdfs
WorkingDirectory={{ hadoop_run }}
ExecStart={{ hadoop_home }}/bin/hdfs --config {{ hadoop_conf_dir }} --daemon start datanode 
ExecStop={{ hadoop_home }}/bin/hdfs --config {{ hadoop_conf_dir }} --daemon stop datanode
Restart=on-failure
PIDFile={{ hadoop_pid_dir }}/hadoop-hdfs-datanode.pid

[Install]
WantedBy=multi-user.target
