div.epilogo:hover {
  background-image:url(../img/logo-white.png);
  background-color: rgba(40, 157, 195, 1);
}
div.app-list {
  position:absolute;
  background:rgba(40,157,195,1);
  top:50px;
  display:none;
  z-index:100;
}
div.app-list-item {
  height:30px;
  padding-right:20px;
  padding-left:73px;
  font-weight:600;
  text-shadow:1px 4px 6px #abc3cb,0 0 0 #fff,1px 4px 6px #abc3cb,0 0 2px #fff;
  font-size: 1.5em;
  color: hsla(0,0%,100%,.6);
  cursor:pointer;
}
a{ text-decoration:none}
a:visited { color:inherit}
div.app-list-item:hover {
  background:rgba(60,190,230,1);
}
div.epilogo {
  height:50px;
  width:50px;
  background-image:url(../img/logo.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:contain;
  display:inline-block;
  float:left;
}
div.header {
/*  margin: 10px;*/
  background:linear-gradient(rgba(40,157,195,.3),rgba(40,157,195,.2)),url(../img/header_grey.png);
  height:50px;
  
}
div.logo {
  margin-left:20px;
  font-weight: 600;
  text-shadow: 1px 4px 6px #abc3cb,0 0 0 #fff,1px 4px 6px #abc3cb,0 0 2px #fff;
  font-size: 2.5em;
  color: hsla(0,0%,100%,.6);
  padding:3px;
  display:inline-block;
  vertical-align:top;
}
div.logo:hover {
  color:#777;
}

