[Unit]
Description=Name node service
After=network.target
ConditionPathExists={{ hdfs_namenode_dir }}/current

[Service]
Type=forking
User=hdfs
WorkingDirectory={{ hadoop_run }}
ExecStart={{ hadoop_home }}/sbin/hadoop-daemon.sh --config {{ hadoop_conf_dir }} --script hdfs start namenode
ExecStop={{ hadoop_home }}/sbin/hadoop-daemon.sh --config {{ hadoop_conf_dir }} --script hdfs stop namenode
Restart=on-failure
PIDFile={{ hadoop_pid_dir }}/hadoop-hdfs-namenode.pid

[Install]
WantedBy=multi-user.target
